<section>    
  <div class="home-container"> 
    <h4 style="text-align: center;">
      <strong><img class="img-home" src="{{ site.github.url }}/assets/img/about/profile.png" width="150" height="150" alt="Avatar" class="image"></strong>
    
    </h4>
    <h4 class="text-home" style="text-align: center;"><strong>Msc student | Junior Researcher</strong></h4>
    <p class="text-home" style="text-align: center;">
      Hi, I’m a junior researcher with 2+ years of experience assisting and overseeing research projects including computational social science, emotion AI, and AI applications. Especially, I have focused on developing machine intelligence that understands and represents human emotion, thus effectively interacting with human beings. Always hoping to collaborate with individuals from diverse backgrounds and cultures to leverage creative ideas on research! 
      <br><br>Please reach out to me at
      <br><br><a href="mailto:sange1104@g.skku.edu">📫 email</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="https://scholar.google.co.kr/citations?hl=ko&amp;user=BHL0tcUAAAAJ" target="_blank" rel="noopener">🎓&nbsp;google scholar</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="https://github.com/sange1104" target="_blank" rel="noopener">🔨github</a>&nbsp; &nbsp;| &nbsp; <a href="http://www.linkedin.com/in/sange1104" target="_blank" rel="noopener">🔌linkedin</a>
    </p>
    <!-- <p class="text-home" style="text-align: center;">Hi, I&rsquo;m a junior researcher with 2+ years of experience assisting and overseeing research projects including&nbsp;computational social science, emotion AI, and AI applications. Especially, I have focused on developing machine intelligence&nbsp;that understands and represents human emotion, thus effectively interacting with human beings. Always hoping to&nbsp;collaborate with individuals from diverse backgrounds and cultures to leverage creative ideas on research!</p>
    <p class="text-home" style="text-align: center;">Please reach out to me at</p>
    <p class="text-home" style="text-align: center;"><a href="mailto:sange1104@g.skku.edu">📫 email</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="https://scholar.google.co.kr/citations?hl=ko&amp;user=BHL0tcUAAAAJ" target="_blank" rel="noopener">🎓&nbsp;google scholar</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="https://github.com/sange1104" target="_blank" rel="noopener">🔨github</a>&nbsp; &nbsp;| &nbsp; <a href="http://www.linkedin.com/in/sange1104" target="_blank" rel="noopener">🔌linkedin</a></p> -->
  </div>  
  </section>