<section>  
  <div class="about-wrapper"> 
    <div class="about-container"> 
      <!-- <p><strong></strong></p>  -->
      <h4 class="img-about" style="text-align: center;"><strong><img src="{{ site.github.url }}/assets/img/about/profile.png" width="150" height="150" alt="Avatar" class="image"></strong></h4>
      <!-- <h4 style="text-align: center;"><strong>Msc student | Junior Researcher</strong></h4> -->
      <p class="text-about" style="text-align: center;">A junior researcher with 2+ years of experience assisting and overseeing research projects including computational social science, emotion AI, and AI applications.</p>
      <!-- <p style="text-align: center;">Please reach out to me at</p> -->
      <p class="text-about" style="text-align: center;">&nbsp &nbsp; &nbsp; &nbsp;<a href="mailto:sange1104@g.skku.edu">📫 email</a>&nbsp; &nbsp;|&nbsp; &nbsp;<a href="https://scholar.google.co.kr/citations?hl=ko&amp;user=BHL0tcUAAAAJ" target="_blank" rel="noopener">🎓&nbsp;google scholar</a>&nbsp; &nbsp;|<br><a href="https://github.com/sange1104" target="_blank" rel="noopener">🔨github</a>&nbsp; &nbsp;| &nbsp;<span>&nbsp;</span><a href="http://www.linkedin.com/in/sange1104" target="_blank" rel="noopener">🔌linkedin</a></p>
    </div>

    <div class="information-container"> 
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image" aria-label="🎓">&nbsp;|</span> <span>Education&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;">
        <li>M.Sc in <strong>Applied Artificial Intelligence</strong>
        <ul>
        <li>Sungkyunkwan University @ Seoul, Republic of Korea (2021.3~)</li>
        </ul>
        </li>
        <li>Bachelor of <strong>Applied Artificial Intelligence</strong>
        <ul>
        <li>Sungkyunkwan University @ Seoul, Republic of Korea (2018.3~2021.8)&nbsp;</li>
        </ul>
        </li>
        </ul> 
      </div>  
       
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Research Interests&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;">
          <li>Computational Social Science</li>
          <li>Emotion AI, Affective Computing</li>
          <li>AI applications (Computer Vision, NLP)</li>
          <li>Human-centered Computing</li>
          </ul>  
      </div>
      
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Publications&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;"> 
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Mu</span><span>l</span><span>tiEmo: multi-task framework for emoji prediction [</span><span class=" aw5Odc"><a class="XqQF9c" href="https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fsange1104%2FMultiEmo&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw17TW6OfY4-JfIbWpGc4T3I" target="_blank" rel="noopener">code</a></span><span>]</span>
          <ul class="info-about" >
          <li dir="ltr" class="CDt4Ke zfr3Q"><span><strong>SangEun Lee</strong></span><span>, Dahye Jeong, Eunil Park</span><span>* </span></li>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Knowledge-Based Systems (SCIE, JCR 2020 IF=8.038, Q1 in </span><span><em>Computer Science, Artificial Intelligence</em></span><span>)</span></li>
          </ul>
          </li>
          </ul>
          <ul class="info-about" >
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Measuring Embedded Human-like Biases in Face Recognition Models </span><span>[</span><span class=" aw5Odc"><a class="XqQF9c" href="https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fsange1104%2Fface-embedding-association-test&amp;sa=D&amp;sntz=1&amp;usg=AOvVaw2ocZUHqI2BSgYUGvaSfuJH" target="_blank" rel="noopener">code</a></span><span>] [</span><span class=" aw5Odc"><a class="XqQF9c" href="https://drive.google.com/file/d/10oggzfEKzTswI2XmiSd4Lypkz1IqY1cq/view" target="_blank" rel="noopener">paper</a></span><span>]</span>
          <ul>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span><strong>SangEun Lee</strong></span><span>**</span><span>, Soyoung Oh</span><span>**</span><span>, Minji Kim, Eunil Park</span><span>* </span></li>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>In Proceedings of the 2022 Artificial Intelligence with Biased or Scarce Data Workshop (AIBSD '22). AAAI.</span></li>
          </ul>
          </li>
          </ul>
          <ul class="info-about" >
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>FibVID: Comprehensive fake news diffusion dataset during the COVID-19 period</span>
          <ul>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Jisu Kim, Jihwan Aum, </span><span><strong>SangEun Lee</strong></span><span>, Yeonju Jang*, Eunil Park</span><span>*</span><span> </span><span>, Daejin Choi. (2021)</span></li>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Telematics and Informatics, 64, 101688 (SSCI, JCR 2020 IF=6.182, Q1 in Information Science &amp; Library Science).</span></li>
          </ul>
          </li>
          </ul>
          <ul class="info-about" >
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19</span>
          <ul>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span><strong>Sang</strong></span><span><strong>E</strong></span><span><strong>un Lee</strong></span><span>, Jisu Kim,</span><span> Jina Kim</span><span>, Eunil Park</span><span>*</span><span>, Angel P.del Pobil*. (2021).</span></li>
          <li dir="ltr" class="CDt4Ke zfr3Q"><span>In</span><span><em> Proceedings of the 2021 Annual Conference of Human Computer Interaction (KHCI &rsquo;21, Korean</em></span><span>, pp. 392-395)</span><span><em>.</em></span><span> </span></li>
          </ul>
          </li> 
        </ul> 
        <p style="font-size: 13px;">*=Corresponding author,&nbsp;**=Equally contributed</p>
      </div> 
      
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Skills &amp; Programming Languages&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;">
          <li>Python, C, R, Kotlin</li>
          <li>Pytorch, Tensorflow, Keras, Scikit-Learn</li>
          </ul> 
        <div class="project-overlay">     
        </div>  
      </div> 
      
      <div class="information-unit">
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Award&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;"> 
          <li><strong>Graduating with Highest Honors (Summa Cum Laude)</strong>
          <ul class="info-about" >
          <li>Bachelor of <strong>Applied Artificial Intelligence</strong></li>
          <li>Sungkyunkwan University (Summer 2021)</li>
          </ul>
          </li>
          <li><strong>2nd Prize in In-school software development with AI Contest</strong>
          <ul class="info-about" >
          <li>Project Name: TTancent (A real-time concentration evaluation program with face-recognition)</li>
          <li>Sungkyunkwan University (Summer 2021)</li>
          </ul>
          </li>
          <li><strong>3rd Prize in 2020 Bookathon Contest</strong>
          <ul class="info-about" >
          <li>The writing contest with pre-trained GPT</li>
          <li>Sungkyunkwan University (Winter 2020)</li>
          </ul>
          </li>
          <li><strong>2nd Prize in Life Improvement Application Contest</strong>
          <ul class="info-about" >
          <li>Project Name: Want2Seat (A real-time transportation android service for passengers)</li>
          <li>Sungkyunkwan University (Winter 2020)</li>
          </ul>
          </li>
      </ul> 
      </div> 
        
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Project&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;"><li>Developing and Demonstrating AI-Convergence Mine Detection Systems
          <ul class="info-about" >
          <li>Research Associate</li>
          <li>National IT Industry Promotion Agency (2021.05~2021.12)</li>
          </ul>
          </li>
          <li>Research for improvement of Question Answering system with contrastive learning
          <ul class="info-about" >
          <li>Research Intern</li>
          <li>KT R&amp;D Center (2022.07~2022.08)</li>
          </ul>
          </li>
        </ul>  
      </div>  
 
      <div class="information-unit"> 
        <p class="info-title" style="text-align: left;"><span style="text-align: left;"><span role="image">&nbsp;|</span> <span>Teaching Experience&nbsp;</span></span></p>
        <ul class="info-about" style="text-align: left;"><li>Undergraduate Teaching Assistant for the freshmen mandatory course "Problem Solving and Algorithm&rdquo;
          <ul class="info-about" >
            <li>Sungkyunkwan University (Fall 2020)</li>
          </ul>
          </li>
          <li>Undergraduate Teaching Assistant for the freshmen mandatory course &ldquo;Computational Thinking and Coding&rdquo;
          <ul>
          <li class="info-about" style="text-align: left;">Sungkyunkwan University (Spring 2020)</li>
          </ul>
          </li>
        </ul> 
      </div> 
        
    </div>
  </div>
</section>