<section>
  <div class="introduction-wrapper" style="font-size: 16px; font-weight: bold; margin-bottom: 0px"> 
    Introduction<br>
  </div> 
  <div class="introduction-wrapper" style="margin-top: 10px; margin-bottom: 10px">  
    This page includes toy software development projects that I worked on.<br>
    <!-- You can search projects for specific topics by filtering through the tags below. Every projects are tagged according to the related research areas. -->
   </div>
   <hr class='center-hr'>
  <!-- <div class="researchmenu-wrapper">   
    {% for keyword in site.data.settings.apps-keyword %}
      &nbsp
      <p>{{ keyword.name }}</p>
      &nbsp&nbsp
    {% endfor %}  
  </div>  -->
  
  <div class="research-container">   
    <div class="appsrow-container">  
      <div class="apps-unit" style="background-image: url({{ site.github.url }}/assets/img/projects/TTancent.png)">
        <a href="{{ site.github.url }}/projects/ttancent">
          <div class="project-overlay" 
          data-text="TTancent">   
          </div> 
        </a>
      </div>
      
      <div class="apps-unit" style="background-image: url({{ site.github.url }}/assets/img/projects/Want2Seat.png)">
        <a href="{{ site.github.url }}/projects/want2seat">
          <div class="project-overlay" data-text="Want2Seat">    
          </div> 
        </a>
      </div>
      
      <div class="apps-unit" style="background-image: url({{ site.github.url }}/assets/img/projects/AllAboutCovid19.png)">
        <a href="{{ site.github.url }}/projects/allabout">
          <div class="project-overlay" data-text="All about Covid-19">      
          </div> 
        </a>
      </div>
      
      <div class="apps-unit" style="margin-right: 0%; background-image: url({{ site.github.url }}/assets/img/projects/SKKUCarpool.png)">
        <a href="{{ site.github.url }}/projects/skkucarpool">
          <div class="project-overlay" data-text="SKKU Carpool">     
          </div> 
        </a>
      </div>
    </div>
  </div>
</section>