<section>  
  <div class="introduction-wrapper" style="font-size: 16px; font-weight: bold; margin-bottom: 0px"> 
    Introduction<br>
  </div> 
  <div class="introduction-wrapper" style="margin-top: 10px; margin-bottom: 5px">  
    On this page, you can search both of previous and ongoing research.<br>
    <!-- You can search projects for specific topics by filtering through the tags below. 
    Every projects are tagged according to the related research areas.<br>
    If you are looking for all in one, simply click the first overview section.<br> -->
  </div>
  <hr class='center-hr'>
  <!-- <div class="researchmenu-wrapper">   
    {% for keyword in site.data.settings.research-keyword %}
      &nbsp
      <a href="{{ site.github.url }}/research/{{ project.url }}">{{ keyword.name }}</a>
      &nbsp&nbsp
    {% endfor %}  
  </div>  -->
  
  <div class="research-container">   
    <div class="row-container1"> 

      <div class="box" style="width: 30%; height: 80%; animation: translatelefttoright1 0.5s;"> 
        <div class="research-unit" style="width: 100%; height: 80%; background-image: url({{ site.github.url }}/assets/img/research/propagation.png)">
          <a href="{{ site.github.url }}/research/propagation">
            <div class="project-overlay">     
            </div>  
          </a> 
        </div>  
        <div class="text-display">   
          <middle>Propagation of Blame and Revolting Expressions in Social Network Services: the Case of COVID-19</middle>  
        </div> 
      </div> 
      <div class="box" style="width: 60%; height: 100%; margin-left: 2%; animation: translaterighttoleft1 0.5s;"> 
        <div class="research-unit" style="width: 100%; height: 90%; background-image: url({{ site.github.url }}/assets/img/research/multiemo.png)">
          <a href="{{ site.github.url }}/research/multiemo">
            <div class="project-overlay">   
            </div> 
          </a>
        </div>
        <div class="text-display">   
          <middle>MultiEmo: multi-task framework for emoji prediction</middle>  
        </div> 
    </div>
    </div>  

    <!-- <div class="blank-container">    
    </div>   -->

    <div class="row-container2">  
      <div class="box" style="width: 37%; height: 100%;">
        <div class="research-unit" style="width: 100%; height: 80%; animation: translatelefttoright2 0.5s; background-image: url({{ site.github.url }}/assets/img/research/feat.png)">
          <a href="{{ site.github.url }}/research/feat">
            <div class="project-overlay">   
            </div> 
          </a>
        </div> 
        <div class="text-display">   
          <middle>Measuring Embedded Human-like Biases in Face Recognition Models</middle> 
        </div> 
      </div> 

      <div class="box" style="width: 60%; height: 100%; float: right; animation: translaterighttoleft2 0.5s; margin: 0px 0px 0px 0px;">
        <div class="research-unit" style="width: 100%; height: 80%; background-image: url({{ site.github.url }}/assets/img/research/vissent.png)">
            <div class="project-overlay">  
              <bold>Ongoing project</bold>  
            </div>  
        </div>
        <!-- <div class="text-display">   
          <middle>Ongoing project</middle>  
        </div>  -->
      </div>
    </div>

    <!-- <div class="blank-container">    
    </div>   -->

    <div class="row-container3">   

      <div class="row-container4"> 
        <div class="box" style="width: 95%; height: 45%;">
          <div class="research-unit" style="width: 100%; height: 90%; animation: translatelefttoright3 0.5s; background-image: url({{ site.github.url }}/assets/img/research/emogen.png)">
              <div class="project-overlay">  
                <div class="project-overlay">  
                  <bold>Ongoing project</bold>  
                </div> 
              </div>  
          </div>
        </div>   

        <div class="box" style="width: 65%; height: 48%; float: bottom;">
          <div class="research-unit" style="width: 100%; height: 90%; animation: translatebottomtotop 0.5s; background-image: url({{ site.github.url }}/assets/img/research/simck.png)">
              <div class="project-overlay">  
                <div class="project-overlay">  
                  <bold>Ongoing project</bold>  
                </div> 
              </div>   
          </div>   
        </div>      
      </div>

      <div class="row-container5"> 
        <div class="box" style="width: 100%; height: 100%;">
          <div class="research-unit" style="width: 100%; height: 90%; animation: translaterighttoleft3 0.5s; background-image: url({{ site.github.url }}/assets/img/research/dimensional.png)">
              <div class="project-overlay">  
                <div class="project-overlay"> 
                  <bold>Ongoing project</bold>  
                </div> 
              </div>  
          </div>   
        </div>   
      </div> 

    </div>
  </div>
</section>